html {
    height: 100%;
    background-attachment: fixed;
    background: rgb(253,87,70);
    background: linear-gradient(0deg, rgba(253,87,70,1) 0%, rgba(112,56,83,1) 40%, rgba(60,72,114,1) 90%); 
    color: whitesmoke;
}

/* background: rgb(253,87,70);
background: linear-gradient(0deg, rgba(253,87,70,1) 33%, rgba(60,72,114,1) 80%);  */

/* body {
    background: rgb(9,9,121);
    background: linear-gradient(0deg, rgba(9,9,121,1) 49%, rgba(0,212,255,1) 100%); 
} */